---
name: "Continuous Integration: Build Test Binary (no release)"

on:
  pull_request:

jobs:
  goreleaser:
    name: "CI: Build Test Release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: arnested/go-version-action@v1
        id: go-version
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.latest }}
      - name: Build a test release
        run: |
          go build .
